@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-autofill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .path {
    fill: #fff;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }
  .card_ard {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
  }
}

@layer utilities {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .scroll-snap-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    scroll-padding: 48px;
    padding-bottom: 32px;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-snap-item {
    scroll-snap-align: start;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
